# 3 Modeling<a id='5_Modeling'></a>

## 3.1 Contents<a id='5.1_Contents'></a>

## 3.2 Introduction<a id='5.2_Introduction'></a>

In [149]:
import pandas as pd
import numpy as np
import os
import pickle
import datetime
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import __version__ as sklearn_version
from sklearn.model_selection import cross_validate

## 3.3 Load Model<a id='5.4_Load_Model'></a>

In [64]:
expected_model_version = '1.0'
model_path = '../models/ski_resort_pricing_model.pkl'
if os.path.exists(model_path):
    with open(model_path, 'rb') as f:
        model = pickle.load(f)
    if model.version != expected_model_version:
        print("Expected model version doesn't match version loaded")
    if model.sklearn_version != sklearn_version: 
        print("Warning: model created under different sklearn version")
else:
    print("Expected model not found")

## 3.4 Load Data<a id='5.5_Load_Data'></a>

In [243]:
stocks_data_daily = pd.read_csv('../data/SNP_500_2020_cor90.csv',index_col=0)

## 3.5 Refit Model On All Available Data <a id='5.6_Refit_Model_On_All_Available_Data_(excluding_Big_Mountain)'></a>

In [66]:
X = stocks_data_daily.drop(columns='AAPL_Highest price')
y = stocks_data_daily['AAPL_Highest price']

In [67]:
model.fit(X, y)

Pipeline(memory=None,
         steps=[('simpleimputer',
                 SimpleImputer(add_indicator=False, copy=True, fill_value=None,
                               missing_values=nan, strategy='median',
                               verbose=0)),
                ('standardscaler', None),
                ('randomforestregressor',
                 RandomForestRegressor(bootstrap=True, ccp_alpha=0.0,
                                       criterion='mse', max_depth=None,
                                       max_features='auto', max_leaf_nodes=None,
                                       max_samples=None,
                                       min_impurity_decrease=0.0,
                                       min_impurity_split=None,
                                       min_samples_leaf=1, min_samples_split=2,
                                       min_weight_fraction_leaf=0.0,
                                       n_estimators=1000, n_jobs=None,
                                       oob_score=False, random_state=47,
                                       verbose=0, warm_start=False))],
         verbose=False)

In [244]:
cv_results = cross_validate(model, X, y, scoring='neg_mean_absolute_error', cv=5, n_jobs=-1)

In [245]:
cv_results['test_score']

array([-2.40897844, -3.12895184, -3.83355941, -4.69253264, -4.87125613])

In [246]:
mae_mean, mae_std = np.mean(-1 * cv_results['test_score']), np.std(-1 * cv_results['test_score'])
mae_mean, mae_std

(3.787055689979927, 0.9305631925504458)

## 3.6 Calculate Expected Apple Stock Price Based on the Model<a id='5.7_Calculate_Expected_Big_Mountain_Ticket_Price_From_The_Model'></a>

In [247]:
stocks_data_daily_test = stocks_data_daily.copy()

In [248]:
stocks_data_daily_test.head()

,AAPL_Highest price,MSFT_Highest price,AMZN_Highest price,FB_Highest price,TSLA_Highest price,NVDA_Highest price,PG_Highest price,PYPL_Highest price,ADBE_Highest price,TMO_Highest price,...,POOL_Highest price,GWW_Highest price,TTWO_Highest price,ABMD_Highest price,JBHT_Highest price,MAS_Highest price,FBHS_Highest price,CHRW_Highest price,PENN_Highest price,ROL_Highest price
0,75.150,160.730,1898.0100,209.79,86.1391,59.9775,124.7300,111.21,334.48,326.94,...,213.88,344.71,123.9800,173.8600,117.9900,48.410,65.8100,78.50,26.150,22.3933
1,75.145,159.945,1886.1965,210.40,90.8000,59.4575,123.5300,110.42,332.98,325.29,...,215.68,342.26,122.5000,169.3174,117.2100,47.920,65.5000,77.80,25.965,22.1733
2,74.990,159.100,1903.6900,212.78,90.3120,59.3175,123.1900,110.22,333.91,325.33,...,215.34,339.85,125.1264,179.4200,116.1998,47.625,65.8900,77.62,26.330,22.1933
3,75.225,159.670,1913.8900,214.58,94.3260,60.4425,123.2059,111.56,334.79,329.24,...,214.68,339.30,126.4700,182.4400,117.8600,47.540,65.9009,78.44,26.480,22.2667
4,76.110,160.800,1910.9999,216.24,99.6980,60.5100,123.4299,112.64,339.23,330.59,...,215.27,343.11,128.9950,180.7300,119.4100,47.930,67.1300,79.69,27.075,22.2267

In [42]:
X_bm = stocks_data_daily_test.drop(columns='AAPL_Highest price')

In [51]:
Y_bm_ = stocks_data_daily_test['AAPL_Highest price']

In [52]:
Y_bm = Y_bm_.values.item()

In [44]:
bm_pred = model.predict(X_bm).item()

In [249]:
print(f'Apple Stock modelled price is ${bm_pred:.2f}, actual price is ${Y_bm:.2f}.')
print(f'Even with the expected mean absolute error of ${mae_mean:.2f}, this suggests there is room for an increase.')

Apple Stock modelled price is $136.31, actual price is $135.77.
Even with the expected mean absolute error of $3.79, this suggests there is room for an increase.

# Test month

In [218]:
stocks_data_daily_test_month = stocks_data("2021-03-01", "2021-03-30",tickers)

In [219]:
stocks_data_daily_test_month.head()

,AAPL_Highest price,MSFT_Highest price,AMZN_Highest price,GOOGL_Highest price,FB_Highest price,GOOG_Highest price,TSLA_Highest price,NVDA_Highest price,BRK.B_Highest price,JPM_Highest price,...,MO_Highest price,GILD_Highest price,LMT_Highest price,TJX_Highest price,PNC_Highest price,LRCX_Highest price,ADP_Highest price,MU_Highest price,MDLZ_Highest price,USB_Highest price
Date,,,,,,,,,,,,,,,,,,,,,
2021-02-28 21:00,127.930,237.4700,3149.560,2076.23,266.6500,2086.520,872.0000,139.250,250.55,151.3799,...,45.155,62.630,337.7200,67.85,174.48,600.50,178.455,95.75,54.1700,51.545
2021-03-01 21:00,128.720,237.3000,3163.520,2094.74,266.7100,2104.370,721.1100,139.205,251.34,151.7800,...,45.130,63.590,340.0100,67.67,177.81,598.76,177.990,94.90,54.1501,51.405
2021-03-02 21:00,125.710,233.5799,3107.775,2075.99,260.9899,2088.518,700.7000,134.515,254.81,154.9800,...,45.635,63.320,346.3312,66.02,176.87,581.58,175.090,93.33,53.6100,52.180
2021-03-03 21:00,123.600,232.4900,3058.130,2074.59,266.4900,2089.240,873.9400,129.750,252.55,154.3786,...,45.550,64.540,344.3500,64.45,174.87,559.98,175.870,89.75,54.9300,51.530
2021-03-04 21:00,121.935,233.2700,3009.000,2106.20,265.4500,2118.110,627.8419,125.500,253.45,153.4900,...,45.300,64.745,341.1700,63.21,176.90,550.12,179.000,89.32,55.9100,52.685

In [220]:
stocks_data_daily_test_month.loc[:stocks_data_daily_test_month.index[4]]

,AAPL_Highest price,MSFT_Highest price,AMZN_Highest price,GOOGL_Highest price,FB_Highest price,GOOG_Highest price,TSLA_Highest price,NVDA_Highest price,BRK.B_Highest price,JPM_Highest price,...,MO_Highest price,GILD_Highest price,LMT_Highest price,TJX_Highest price,PNC_Highest price,LRCX_Highest price,ADP_Highest price,MU_Highest price,MDLZ_Highest price,USB_Highest price
Date,,,,,,,,,,,,,,,,,,,,,
2021-02-28 21:00,127.930,237.4700,3149.560,2076.23,266.6500,2086.520,872.0000,139.250,250.55,151.3799,...,45.155,62.630,337.7200,67.85,174.48,600.50,178.455,95.75,54.1700,51.545
2021-03-01 21:00,128.720,237.3000,3163.520,2094.74,266.7100,2104.370,721.1100,139.205,251.34,151.7800,...,45.130,63.590,340.0100,67.67,177.81,598.76,177.990,94.90,54.1501,51.405
2021-03-02 21:00,125.710,233.5799,3107.775,2075.99,260.9899,2088.518,700.7000,134.515,254.81,154.9800,...,45.635,63.320,346.3312,66.02,176.87,581.58,175.090,93.33,53.6100,52.180
2021-03-03 21:00,123.600,232.4900,3058.130,2074.59,266.4900,2089.240,873.9400,129.750,252.55,154.3786,...,45.550,64.540,344.3500,64.45,174.87,559.98,175.870,89.75,54.9300,51.530
2021-03-04 21:00,121.935,233.2700,3009.000,2106.20,265.4500,2118.110,627.8419,125.500,253.45,153.4900,...,45.300,64.745,341.1700,63.21,176.90,550.12,179.000,89.32,55.9100,52.685

In [239]:
stocks_data_daily_test_month.iloc[0].to_frame().T

,AAPL_Highest price,MSFT_Highest price,AMZN_Highest price,GOOGL_Highest price,FB_Highest price,GOOG_Highest price,TSLA_Highest price,NVDA_Highest price,BRK.B_Highest price,JPM_Highest price,...,MO_Highest price,GILD_Highest price,LMT_Highest price,TJX_Highest price,PNC_Highest price,LRCX_Highest price,ADP_Highest price,MU_Highest price,MDLZ_Highest price,USB_Highest price
2021-02-28 21:00,127.93,237.47,3149.56,2076.23,266.65,2086.52,872.0,139.25,250.55,151.3799,...,45.155,62.63,337.72,67.85,174.48,600.5,178.455,95.75,54.17,51.545

In [223]:
stocks_data_daily_test_month.index

Index(['2021-02-28 21:00', '2021-03-01 21:00', '2021-03-02 21:00',
       '2021-03-03 21:00', '2021-03-04 21:00', '2021-03-07 21:00',
       '2021-03-08 21:00', '2021-03-09 21:00', '2021-03-10 21:00',
       '2021-03-11 21:00', '2021-03-14 21:00', '2021-03-15 21:00',
       '2021-03-16 21:00', '2021-03-17 21:00', '2021-03-18 21:00',
       '2021-03-21 21:00', '2021-03-22 21:00', '2021-03-23 21:00',
       '2021-03-24 21:00', '2021-03-25 21:00', '2021-03-28 21:00',
       '2021-03-29 21:00'],
      dtype='object', name='Date')

In [240]:
def model_test(df):
    df.drop(columns='AAPL_Highest price')
    y_bm = df['AAPL_Highest price']
    forcast_df = []
    for row in range(len(df)):
        bm_pred = round(model.predict(stocks_data_daily_test_month.iloc[row].to_frame().T).item(),2)
        actual = round(y_bm[row],2)
        #date = df.index[row]
        #print(date)
        forcast_df.append([actual,bm_pred])
    return pd.DataFrame(data= forcast_df, columns=['Actual', 'Predicted'])

In [241]:
model_test(stocks_data_daily_test_month)

    Actual  Predicted
0   127.93     125.80
1   128.72     128.04
2   125.71     124.88
3   123.60     123.84
4   121.94     123.68
5   121.00     125.80
6   122.06     127.82
7   122.17     127.92
8   123.21     128.65
9   121.17     128.56
10  124.00     128.56
11  127.22     128.75
12  125.86     128.65
13  123.18     127.85
14  121.43     128.47
15  123.87     129.14
16  124.24     129.44
17  122.90     129.27
18  121.66     129.24
19  121.48     129.46
20  122.58     129.46
21  120.40     129.41

In [2]:
! ls

1_Data Wrangling.ipynb                  3_Modeling.ipynb
2_Predicting_Apple_Stock_S&P 500_.ipynb library